<div class="container-fluid">
    <link href="css/estilos.css" rel="stylesheet" />
    <!--ROW QUE ABARCA TODA LA PANTALLA-->
    <div class="row">
        <!--COL QUE ABARCA TODO EL TABLERO-->
        <div class="col-lg-8">
            <!--TITULO-->
            <br />
            <div class="row">
                <div class="col-1" align="center"><a class="btn btn-{{colorSeccion}}" href="/index.html" id="volver"><</a></div>
                <div class="col-4"><h1 class="titulo">{{titulo}}</h1></div>
                <div class="col-6" align="right" style="padding-right: 6px"><button class="btn btn-info btnAuto" ng-click="mostrarInstrucciones()">Instrucciones</button></div>
            </div>
            <!--TABLERO-->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"><button id="cas0" class="btn btn-primary">Inicio</button></div>
                <div class="col-1"><button id="cas1" class="btn btn-secondary">1</button></div>
                <div class="col-1"><button id="cas2" class="btn btn-secondary">2</button></div>
                <div class="col-1"><button id="cas3" class="btn btn-secondary">3</button></div>
                <div class="col-1"><button id="cas4" class="btn btn-secondary">4</button></div>
                <div class="col-1"><button id="cas5" class="btn btn-secondary">5</button></div>
                <div class="col-1"><button id="cas6" class="btn btn-secondary">6</button></div>
                <div class="col-1"><button id="cas7" class="btn btn-secondary">7</button></div>
                <div class="col-1"><button id="cas8" class="btn btn-secondary">8</button></div>
                <div class="col-1"><button id="cas9" class="btn btn-secondary">9</button></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"><button id="cas10" class="btn btn-secondary">10</button></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"><button id="cas28" class="btn btn-secondary">28</button></div>
                <div class="col-1"><button id="cas29" class="btn btn-secondary">29</button></div>
                <div class="col-1"><button id="cas30" class="btn btn-secondary">30</button></div>
                <div class="col-1"><button id="cas31" class="btn btn-secondary">31</button></div>
                <div class="col-1"><button id="cas32" class="btn btn-secondary">32</button></div>
                <div class="col-1"><button id="cas33" class="btn btn-secondary">33</button></div>
                <div class="col-1"><button id="cas34" class="btn btn-secondary">34</button></div>
                <div class="col-1"><button id="cas35" class="btn btn-secondary">35</button></div>
                <div class="col-1"></div>
                <div class="col-1"><button id="cas11" class="btn btn-secondary">11</button></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"><button id="cas27" class="btn btn-secondary">27</button></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"><button id="cas36" class="btn btn-secondary">36</button></div>
                <div class="col-1"></div>
                <div class="col-1"><button id="cas12" class="btn btn-secondary">12</button></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"><button id="cas26" class="btn btn-secondary">26</button></div>
                <div class="col-1"></div>
                <div class="col-1"><button id="cas42" class="btn btn-primary">Fin</button></div>
                <div class="col-1"><button id="cas41" class="btn btn-secondary">41</button></div>
                <div class="col-1"><button id="cas40" class="btn btn-secondary">40</button></div>
                <div class="col-1"><button id="cas39" class="btn btn-secondary">39</button></div>
                <div class="col-1"><button id="cas38" class="btn btn-secondary">38</button></div>
                <div class="col-1"><button id="cas37" class="btn btn-secondary">37</button></div>
                <div class="col-1"></div>
                <div class="col-1"><button id="cas13" class="btn btn-secondary">13</button></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"><button id="cas25" class="btn btn-secondary">25</button></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"><button id="cas14" class="btn btn-secondary">14</button></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"><button id="cas24" class="btn btn-secondary">24</button></div>
                <div class="col-1"><button id="cas23" class="btn btn-secondary">23</button></div>
                <div class="col-1"><button id="cas22" class="btn btn-secondary">22</button></div>
                <div class="col-1"><button id="cas21" class="btn btn-secondary">21</button></div>
                <div class="col-1"><button id="cas20" class="btn btn-secondary">20</button></div>
                <div class="col-1"><button id="cas19" class="btn btn-secondary">19</button></div>
                <div class="col-1"><button id="cas18" class="btn btn-secondary">18</button></div>
                <div class="col-1"><button id="cas17" class="btn btn-secondary">17</button></div>
                <div class="col-1"><button id="cas16" class="btn btn-secondary">16</button></div>
                <div class="col-1"><button id="cas15" class="btn btn-secondary">15</button></div>
            </div>
        </div>
        <!--COL QUE ABARCA LOS CONTROLES-->
        <div class="col-lg-4">
            <!--TITULO-->
            <br />
            <div><h1 class="subtitulo">{{subtitulo}}</h1></div>
            <!--TIRAR DADO-->
            <div class="row">
                <div class="col-3"><button class="btn btn-primary btn-lg">{{dado}}</button></div>
                <div class="col-7"><button class="btn btn-warning" ng-click="tirarDado()">Tirar Dado</button></div>
            </div>
            <!--TURNO Y POSICION DE CADA JUGADOR EN JUEGO-->
            <br />
            <div class="row">
                <div class="col-5" align="center">
                    <input type="text" placeholder="Nombre Jugador 1" class="form-control" ng-model="jugador1.nombre" ng-show="estadoJuego === 'NI'" />
                    <div ng-show="estadoJuego === 'INICIADO'">
                        <button class="btn btn-{{jugador1.turno ? 'danger' : 'secondary'}}" ng-disabled="!jugador1.turno">{{jugador1.nombre}}</button>
                        <span class="badge badge-{{jugador1.turno ? 'danger' : 'secondary'}}">Casilla {{jugador1.pos}}</span>
                    </div>
                </div>
                <div class="col-5" align="center">
                    <input type="text" placeholder="Nombre Jugador 2" class="form-control" ng-model="jugador2.nombre" ng-show="estadoJuego === 'NI'" />
                    <div ng-show="estadoJuego === 'INICIADO'">
                        <button class="btn btn-{{jugador2.turno ? 'success' : 'secondary'}}" ng-disabled="!jugador2.turno">{{jugador2.nombre}}</button>
                        <span class="badge badge-{{jugador2.turno ? 'success' : 'secondary'}}">Casilla {{jugador2.pos}}</span>
                    </div>
                </div>
            </div>
            <!--BOTON DE INICIAR JUEGO Y PREGUNTA-->
            <br />
            <div class="row">
                <div class="col-10">
                    <button class="btn btn-success" ng-show="estadoJuego === 'NI'" ng-click="iniciarJuego()">{{btnInicioJuego}}</button>
                    <p ng-show="estadoJuego === 'INICIADO'">{{pregunta.pregunta}}</p>
                </div>
            </div>
            <!--OPCIONES MULTIPLES-->
            <div ng-show="estadoJuego === 'INICIADO'" class="col-10">
                <label class="contenedor">
                    {{pregunta.listaRespuestas[0].respuesta}}
                    <input type="radio" name="radio" id="rbtA">
                    <span class="checkmark"></span>
                </label>
                <label class="contenedor">
                    {{pregunta.listaRespuestas[1].respuesta}}
                    <input type="radio" name="radio" id="rbtB">
                    <span class="checkmark"></span>
                </label>
                <label class="contenedor">
                    {{pregunta.listaRespuestas[2].respuesta}}
                    <input type="radio" name="radio" id="rbtC">
                    <span class="checkmark"></span>
                </label>
            </div>
            <!--RESPONDER PREGUNTA Y RETROALIMENTACION-->
            <br />
            <div class="row" ng-show="estadoJuego === 'INICIADO'">
                <div class="col-10" align="center">
                    <button class="btn btn-success" ng-click="validarRespuesta()" ng-show="respondio === 'NO'">Responder</button>
                    <button class="btn btn-{{esCorrecta ? 'success' : 'danger'}}" ng-show="respondio === 'SI'">{{esCorrecta ? 'Correcto!' : 'Incorrecto :('}}</button>
                </div>
            </div>
            <!--BOTON DE REANUDAR CUANDO CONTESTA MAL-->
            <br />
            <div class="row" ng-show="respondio === 'SI' && !esCorrecta">
                <div class="col-3"></div>
                <div class="col-4"><button class="btn btn-success btnAuto" ng-click="reanudar()">Continuar</button></div>
            </div>
            <!--MENSAJE GANADOR-->
            <div class="row" ng-show="!(ganador == null)">
                <div class="col-10" align="center"><h3>Ha ganado {{ganador}}!</h3></div>
            </div>
            <!--INSTRUCCIONES DE JUEGO-->
            <p ng-show="false" id="instrucciones1">
                Antes de comenzar a jugar, cada participante puede ingresar su nombre en las cajitas de texto. De lo contrario se les asignara un nombre por defecto.
                Una vez listo, se da comienzo al juego presionando el boton <a class="btn btn-success btn-sm text-light">Iniciar Juego</a> y es el turno del primer jugador, aunque
                aun no esta habilitado a lanzar el dado. Para ello, debe responder correctamente una pregunta relacionada a los contenidos desarrollados. Simplemente debe
                elegir una de las opciones disponibles y presionar el boton <a class="btn btn-success btn-sm text-light">Responder</a>. Si responde bien, se le indicara 
                con un <a class="btn btn-success btn-sm text-light">Correcto!</a> y ya se encuentra habilitado para lanzar el dado con el boton <a class="btn btn-warning btn-sm">Tirar Dado</a>. 
                Su ficha avanzara en el tablero y automaticamente pasa el turno al otro jugador. Si responde mal, se le indicara con un <a class="btn btn-danger btn-sm text-light">Incorrecto :(</a> 
                y debe presionar el boton <a class="btn btn-success btn-sm text-light">Continuar</a> que aparecera debajo para ceder el turno al otro jugador.
            </p>
            <p ng-show="false" id="instrucciones2">
                En cuanto al tablero de juego, se indican en color azul las casillas de <a class="btn btn-primary btn-sm text-light">Inicio</a> y <a class="btn btn-primary btn-sm text-light">Fin</a>,
                y un conjunto de <a class="btn btn-sm text-light" id="especial">Casillas Especiales</a> que haran avanzar dos veces el valor que arroje el dado, a aquel jugador
                que situado en una de esas casillas, respondia bien la pregunta. Gana el primer jugador en llegar a la casilla <a class="btn btn-primary btn-sm text-light">Fin</a>, pero solo
                si llega con lo justo, sino, retrocedera la cantidad sobrante. Por ejemplo, si estoy en la casilla <a class="btn btn-secondary btn-sm text-light">40</a>, para ganar necesitaria
                obtener <a class="btn btn-primary btn-sm text-light">2</a> en el dado. En cambio si obtengo un <a class="btn btn-primary btn-sm text-light">3</a>, llegare hasta <a class="btn btn-primary btn-sm text-light">Fin</a> 
                y retrocedere hasta la casilla <a class="btn btn-secondary btn-sm text-light">41</a>.
            </p>
        </div>
    </div>

    <hr />
</div>

